# Python / FastAPI
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.sqlite3

# Node / Capacitor / Android
node_modules/
app/android/build/
app/android/.gradle/
app/android/capacitor/android/build/
app/android/app/build/
app/android/.idea/
